fastapi
uvicorn[standard]
python-multipart
python-dotenv
fastapi-cors
pydantic
python-jose[cryptography]

openai
langchain
langchain-core
langchain-openai
langchain-ollama
langgraph
langchain-community
mistralai
ollama

numpy

python-dateutil
contextvars

websockets
pydantic-settings
httpx
aiofiles
sqlalchemy
alembic
redis
celery
pytest
pytest-asyncio