fastapi
uvicorn[standard]
python-multipart
python-dotenv
fastapi-cors
pydantic
python-jose[cryptography]

openai
langchain
langchain-core
langchain-openai
langchain-ollama
langgraph
mistralai
ollama

numpy

python-dateutil
contextvars

